
footer {
    margin-left: 0px;
align-content: center;
padding: 67px 0;

background-color: #f1634f;

}

footer h1 {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 50px;
  font-weight: 100px;
  margin: 0 0 40px 0;
}

footer li> a {
    margin: 10px;
    color: white;
    background-color: rgb(5, 10, 18);
    font-weight: 500;
    font-size: 18px;
  }

footer ul {
  width: 100%;
      text-align: center;
      margin: 0 15px;
      list-style: none;
  }

footer ul > li {
  display: inline;
  margin: 5px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.navbar-default {
  background-color: #666;
  background-image: none;
  border: none;
  border-radius: 0;
    height: 100px;
    height: 57px;
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
 .navbar-header-middle  {
   text-align: center;
   width: 100%;
   padding: 30px 0;
   align-content: center;
   color: white;
   background-color: brown;
   font-weight: 600;
   font-size: 20px;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand > img {
  width: 180px;
  height: 121px;
}


.cat {
  width: 400px;
  height: 300px;
  position: relative;
}

img {
    vertical-align: middle;
    height: 168px;
    width: 250px;
}

#fecha {
    background-color: black;
    color: white;
    text-align: center;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 50%;
  height: calc(100vh - 206px);
  align-items: center;
  text-align: center;
}

.container about-me > col-xs-12 {
         background-color: #170b8c;
}
#about-me {
   background-color: burlywood;
   padding: 60px 0;

}
#contact-us {
   background-color: #D87514;
   padding: 60px 0 185px 0;

}
#rest-log {
  background-color: #676C9E;
  padding: 60px 0 60px 0;
}
#results {
  background-color: #47A55E;
  padding: 50px 0 60px 0;
}
#top {
  background-color: #898A2E;
  padding: 60px 0 180px 0;
}
#images {
  padding: 60px 0;
}
.tip-amount {
    display: inline-block;
    width: 30px;
  }
  .tip-percentage {
      display: inline-block;
      width: 30px;
    }
    a {
    background: #7F82FF;
    color: black;
    text-decoration: none;
}
